.cover-title h1{
    text-align: left;
    font-size: 2.03em;
    color: black;
    font-family: Arial, Helvetica, sans-serif; 
    padding-top: 3em;   
    font-weight: bold;
}

.cover-title h2{
    text-align: left;
    font-size: 2em;
    color: black;
    font-family: Arial, Helvetica, sans-serif; 
    padding-top: .30em;
    font-weight: bold;
    width: 100%;
}

.home-flex-container{
    display: flex;
    margin-top: 6.40em;
}

.home-image-profile{
    width: 55%;
}
.home-image-profile img{
    width: 24em;
    margin-left: 7em;
    border: 10px solid black;
    border-radius: 1200px;
}

.home-image-profile img:hover{
    box-shadow: 10px 12px 14px gray;
    width: 26em;
}

.main-container{
    width: 60%;
    margin-right: 10em;
}

.cover-title{
    width: 100%;
}

body{
    background-image: url('https://pbs.twimg.com/media/Ex_lfe1XIAAd1ak.jpg:large');
}

.downloadable-button{
    display: inline-flex;
    /* flex-direction: column-reverse; */
    margin-right: 10em;
    height: 10vh;
    margin-top: .3em;
    /* width: 10%; */
}

.downloadable-button button{
   background-color: rgb(207, 63, 63);
   border: 2px solid black;
   border-radius: 2em;
   color: black;
   font-weight: bold;
}

.downloadable-button button:hover{
    background-color: rgb(14, 95, 128);
    width: 24em;
}