.projects-container-title h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.65em;
}

.projects-container{
    margin-top: 5em;
}

.projects-container ul{
    margin-top: 3em;
}

.projects-container ul li{
margin-top: 3em;
}

.projects-container ul li a{
   text-decoration: none;
   color: white;
   font-size: 1.45em;
    }